<!-- ==================== HEADER Y NAVEGACIÓN ==================== -->
<%- include('partials/header') %>
<link rel="stylesheet" href="./css/dashboard_db.css">
    
<div class="container-damabrava container">
    <div class="nav"></div>
    <div class="home-view view"></div>
    <div class="perfil-view view" style="display: none;"></div>

    <div class="flotante">
        <button class="home active"><i class='bx bx-home'></i></button>
        <button class="perfil"><i class='bx bx-user'></i></button>
    </div>
</div>
<%- include('./componentes') %>
<%- include('partials/footer') %>