<!-- ==================== HEADER Y NAVEGACIÓN ==================== -->
<%- include('partials/header') %>
<link rel="stylesheet" href="./css/dashboard_db.css">
    
<div class="container-damabrava container">
    <div class="nav"></div>
    <div class="home-view view"></div>
</div>
<%- include('./componentes') %>
<%- include('partials/footer') %>