@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
button,
a {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    overflow: hidden;
    background-color: var(--fondo) !important;
    font-family: 'Impact', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
:root {
    --text: black;
    --fondo: rgba(149, 149, 149, 0.064);
    --fondo2: #4fd0b62d;
    --fondo3: #ffffff;
    --fondo4: #ffffff;
    --fondo5: #f3f3f3;
    --sep-color: #358a79;
    --oct-color:rgb(234, 234, 234);
    --primary-color: #ffffff;
    --second-color: #1a1a1a;
    --cero-color: rgb(141, 141, 141);

    /* Colores de acento que se mantienen en ambos temas */
    --cuarto-color: #358a79;
    --tercer-color: #48c9b0;
    --error: #fc3737;
    --success: #4CAF50;
    --success-claro: #4caf4f5d;

    /* Variables para tamaños de texto se mantienen igual */
    --text-detalle: 13px;
    --text-subtitulo: 15px;
    --text-titulo: 16px;
    --text-superior: 17px;
    --text-xl: 18px;
    --text-2xl: 20px;
    --text-3xl: 24px;
    --text-4xl: 26px;
    --text-5xl: 28px;
}

[data-theme="dark"] {
    --text: #ffffff;
    --fondo: #1a1a1a;
    --fondo3: #1a1a1a;
    --fondo4: #2d2d2d;
    --fondo5: #1a1a1a;
    --fondo2: #282828;
    --primary-color: #2a2a2a;
    --second-color: #ffffff;
    --cuarto-color: #3ca48f;
    --cero-color: #808080;
    --sep-color: #2f2f2f;
    --oct-color:rgb(34, 34, 34);
}