.home-view{

    .seccion1{
        display: flex;
        width: 100%;
        min-height: 200px;
        background:none;
        flex-direction: column;
        overflow: hidden;

        .subtitulo{
            margin-bottom: 10px;
        }

        .funciones-rol{
            display: flex;
            height: 100%;
            width: 100%;
            gap: 10px;
            overflow-x: auto;
            overflow-y: hidden;

            .funcion{
                background-color: white;
                border-radius: 10px;
                min-width: 130px;
                width: 130px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 10px!important;
                gap: 5px;

                i{
                    min-width: 50px;
                    min-height: 50px;
                    background-color: var(--fondo2);
                    font-size: var(--text-2xl);
                    color: var(--tercer-color);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .nombre{
                    font-size: var(--text-subtitulo);
                    font-weight: 500;
                }
                .detalle{
                    font-size: var(--text-detalle);
                    color: gray;
                    text-align: center;
                }
            }
        }
    }
    .seccion2{
        display: flex;
        width: 100%;
        min-height:600px;
        background:none;
        flex-direction: column;
        overflow: hidden;
        gap: 10px;

        .filtros-opciones{
            display: flex;
            width: 100%;
            min-height: 45px;
            gap: 5px;
            overflow-x: auto;
            overflow-y: hidden;

            .btn-filtro{
                width: fit-content;
                height: 40px;
                padding: 5px 15px;
                border: none;
                border-radius: 10px;
                font-size: var(--text-subtitulo);
                background-color: white;
                text-wrap: nowrap;
            }
            .btn-filtro.activado{
                background: var(--cuarto-color);
                color: white;
            }
        }
        .aviso{
            font-size: var(--text-subtitulo);
            margin-left: 10px;
        }
        .registros{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 420px;
            min-height: 410px;
            gap: 10px;
            overflow-y: auto !important;

            .registro{
                display: flex;
                width: 100% !important;
                height: 100px;
                background-color: white;
                border-radius: 10px;
                padding: 10px 20px;
                gap: 10px;
                justify-content:space-between;
                align-items: center;

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;;
                    font-size: var(--text-detalle);
                }
                .detalles{
                    display: flex;
                    flex-direction: column;
                    font-size: var(--text-detalle);
                }
            }
        }
    }
    .seccion3{
        display: flex;
        width: 100%;
        height: 300px;
        min-height: 300px;
        background:none;
        flex-direction: column;
        overflow: hidden;
    }
}