.notificacion-view {
    gap: 10px;

    p {
        width: 100%;
        text-align: left;
    }

    .notificaciones {
        display: flex;
        flex-direction: column;
        width: 100%;

        .notificacion {
            background-color: var(--primary-color);
            padding: 10px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 5px;

            i{
                color:rgb(54, 121, 255) ;
                font-size: var(--text-3xl);
                min-width: 60px;
                height: 60px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(89, 134, 224, 0.099);
            }

            .cabeza {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .suceso {
                    font-size: var(--text-subtitulo);
                    font-weight: 600;
                    color: rgb(54, 121, 255);
                    text-align: left;
                    min-width: 100px;
                    width: 100px;
                    border-radius: 10px;
                    display: flex;
                    text-align: left;
                }

                .fecha {
                    color: var(--cero-color);
                    font-size: var(--text-detalle);
                    width: 80px;
                }

            }

            .detalle {
                color: var(--text);
                font-size: var(--text-detalle);
                width: 100%;
            }
        }
    }
}